.env
.gitkeep
.venv
__pycache__

# media belongs to dvc; git tracks metadata and dvc pointer files.
/data/*

# ignore * except for metadata and dvc pointer files
!/data/*.dvc
!/data/.gitignore
!/data/metadata/
